* {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.favhome-container {
  padding: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  margin: auto;
  margin-top: 25px;
  padding: auto;
  width: 80%;
}

.favcards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: auto;
  margin-top: 20px;
  padding: auto;
}

.favcard {
  border: 1px solid var(--card-background);
  border-radius: 12px;
  padding: 10px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.favcard:hover {
  transform: translateY(-10px);
  background-color: var(--card-hover-background);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}

.favcard img {
  width: 100%;
  height: 180px; /* גודל אחיד לתמונה */
  object-fit: cover; /* אחראי על חיתוך נכון של התמונה */
  border-radius: 8px;
  padding: 0;
}

.favcard h3 {
  font-size: 20px;
  color: #3796fc;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-color: var(--card-background);
}

.favcard h4 {
  font-size: 16px;
  color: #2980b9;
  font-weight: 400;
  background-color: var(--card-background);
}

.favcard p {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.5;
  background-color: var(--card-background);
  padding: 10px;
}

.favdetails {
  font-size: 12px;
  color: var(--text-color);
  line-height: 1.5;
  padding: 10px;
  background-color: var(--card-background);
}

.favcard-actions {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: var(--card-background);
}

.favcard-actions button {
  width: 30%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
  background-color: var(--button-background);
  border: none;
  padding: 10px 15px;
}

.favcard-actions button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #72bcee;
  color: #3498db;
}

.favcard-actions button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
