footer {
  text-align: center;
  padding: 10px;
  background-color: var(--background-color);
  border-top: 1px solid whitesmoke;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: auto;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 40px; /* מרווח בין האייקונים */
}

.footer-link {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease; /* אנימציה ללחיצה */
}

.footer-link:hover {
  transform: scale(1.1); /* הגדלה קלה של האייקון בלחיצה */
}

.footer-text {
  margin-top: 8px;
  font-size: 14px;
  color: var(--text-color);
}
.footer-copyright {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
  margin-bottom: 5px;
}
